<div class="mb-3" style="border: none;">
  <div class="row gx-0">
    <div class="col-sm-6 col-md-4">
      <img src="{{ site.baseurl }}/{{ include.page.image }}" height="225px" class="rounded-start w-100 h-100">
    </div>
    <div class="col-sm-6 col-md-8 d-flex align-items-center">
      <div class="card-body px-2 py-1">
        <h5 class="card-title">{{ include.page.title }} <small class="text-muted float-end">{{ include.page.date }}</small></h5>
        <p class="card-text">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
          <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{ label }}</span>
          {% endfor %}
        </p>
        {% if page.projecturl %}
        <a href="{{ page.projecturl }}" class="btn btn-outline-dark">Project Site</a>
        {% else %}
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-dark">Read More</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
