<footer class="navbar navbar-expand navbar-light bg-light bg-gradient border-top">
  <div class="container-fluid">
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <small>
          <a class="nav-link" href="tel:+13104805366" style="line-height: 0.25;">📞 +1 (310) 480-5366</a><br>
          <a class="nav-link" href="mailto:eyan.documet@pm.me" style="line-height: 0.25;">✉️ eyan.documet@pm.me</a><br>
          <a class="nav-link" href="https://techfolios.github.io" style="line-height: 0.25;">Made with Techfolios</a>
        </small>
      </ul>
    </div>
  </div>
</footer>
