<header class="navbar navbar-expand-md navbar-dark" style="background-color: #003366;">
  <div class="container-fluid">
<a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}" style="color: #F5F5F5;">🤖 {{ site.data.bio.basics.name }}</a>    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/' | prepend: site.baseurl }}" style="color: #F5F5F5;">Home</a>
        <!-- <a class="nav-link" href="{{ '/projects' | prepend: site.baseurl }}" style="color: #F5F5F5;">Projects</a> -->
        <a class="nav-link" href="{{ '/EyanDocumet_Resume.pdf' | prepend: site.baseurl }}" style="color: #F5F5F5;">Resume 🔗</a>
      </ul>
    </div>
  </div>
</header>
