/* Eyan's theme. Beautiful and Legible. */

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
/* Light Mode */
:root {
  --bs-font-sans-serif: "Atkinson Hyperlegible", sans-serif;
  --bs-link-color: #2C3E50;
  --tf-pill-bg: #BDC3C7;
  --tf-text-color: #BDC3C7;
  --tf-icon-fill: #BDC3C7;
  --tf-icon-hover: #7F8C8D;
  --tf-page-bg-color: #BDC3C7;
  --tf-footer-bg-color: #BDC3C7;
  --tf-projects-bg-color: #BDC3C7;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
